#button-component
{
    border: 2px solid black;
    height:300px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row
{
    display: flex;
    justify-content: space-between;
    width: 80%; 
    margin-bottom: 10px; 
}

.button
{
    background-color: gray;
    color: white;
    font-size: 40px;
    padding: 10px;
    flex: 1;   

}
.button:hover
{
    background-color: green;
    cursor: pointer;
}

