#input-output-component {
    border: 2px solid black;

}

#input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    height: 75px;
    font-size: 60px;
    padding: 5px;
    text-align: end;
}

#output{
    text-align: end;
}